{% extends 'base.html' %}
{% block css %}
    <link rel='stylesheet' type='text/css' media='screen'href="{{url_for('static',filename='pswd1.css')}}"> 
{% endblock %}
{% block content %}
<br>
<br>
<br>
    <table class="heading">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}" data-dismiss="alert">
                  <center>{{ message }}</center>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <tr>
            <th><h1> Zipper Password Recovery</h1></th>
            <th><img src="{{url_for('static',filename='pswd.png')}}" height="70px"></th>
        </tr>
    </table>
    
    
         <center>
        <div class="container"> 
            <form method='POST'>
            {{request_form.hidden_tag()}}
            <h4>Input your email</h4>
               <p>Submit the form below to reset your password
                and a link will be emailed to you.</p><br><br>

                {% if request_form.email.errors %}
                    {{ request_form.email}}
                    <div class="invalid-feedback d-block">
                        {% for error in request_form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                     </div>
                {% else %}
                    {{ request_form.email}}
                {% endif %}
            
            {{request_form.submit}}
            </form> 
        </div> 
     </center>
      
    </div>
{% endblock %}