{% extends 'base.html' %}
{% block css %}
    <link rel='stylesheet' type='text/css' media='screen'href="{{url_for('static',filename='pswd2.css')}}"> 
{% endblock %}

{% block content %}
<br>
<br>
<br>
    <table class="heading">
        <tr>
            <th><h1> Zipper Password Recovery</h1></th>
            <th><img src="{{url_for('static',filename='pswd.png')}}" height="70px"></th>
        </tr>
    </table>
    
    
        
        <div class="container"> 
            <center>
            
               <p>Please select a new password below to continue</p>
                <form method='POST'>
                    {{reset_form.hidden_tag()}}
                    {% if reset_form.password.errors %}
                        {{ reset_form.password}}
                        <div class="invalid-feedback d-block">
                            {% for error in reset_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                      {{ reset_form.password}}
                    {% endif %}

                    {% if reset_form.confirm_password.errors %}
                      {{ reset_form.confirm_password}}
                        <div class="invalid-feedback d-block">
                            {% for error in reset_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                      {{ reset_form.confirm_password}}
                    {% endif %}
                        
                    {{reset_form.submit}}
              </form>
             </center> 
        </div> 
        
     
    
{% endblock %}